.App {
  padding: 30px;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 35%;
}

td {
  border: 1px solid black;
  padding: 20px;
  text-align: left;
}

td button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
}
